@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* shared */
.quicksand-all {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    padding: 0 20px;
   
    font-style: normal;
  }

  /* flex  */
  .flex {
    display: flex;
  }
  .justify-between{
    justify-content: space-between;
  }
  .itms-center{
    align-items: center;
  }

  .hidden{
    display: none;
  }

 .banner{
  
    
    flex-direction: column-reverse;
 }
 

  


  /* Larger screan */
  @media screen and (min-width: 576px) {

    header{
        padding: 0 6rem;
    }

    main{
       padding:  0 6rem;
    }
    /* Navbar start */
    .mobile-navbar {
        display: none;
    }
    .desktop-navbar{
        display: flex ;
        
    }
    .logo-left{
        display: flex;
       
        gap: 10px;
    }
    .logo-left > img{
        height: 40px;
    }
    .logo-middle > ul{
         list-style: none;
         gap: 2rem;
    }
    .logo-middle > ul > li> a{
        text-decoration: none;
    }

    .navbar-right > button {
        color: white;
        background-color: rgb(254, 163, 1);
        border: none;
        padding: .5rem 1.5rem;
        border-radius: .25rem;
    }
    .banner{
       flex-direction: row;
       
    }
    .banner-description{
        font-weight: 400;
    }
    .banner-button{
      color: white;
      background-color: black;
      border: none;
      padding: .5rem 1.5rem;
      border-radius: .25rem;
    }
}