@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-all {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
   padding: 0 10px;
    font-style: normal;
  }


  /* Mobile screan */
  /* Navbar */
  
  .mobile-navbar{
    display: flex;
    justify-content: space-between;
  }

.desktop-navbar{
  display: none;
}

  /* Larger screan */
  @media screen and (min-width: 576px) {
      /* Navbar */
    .mobile-navbar {
        display: none;
    }
    .desktop-navbar{
      display: flex;
    } 
    
}